<div class="call">
  <span><%= call.destination %></span>
  <span><%= call.created_at %></span>
  <span><%= link_to image_tag("call/call_#{call.public_id}_1_sig.png"), "images/call/call_#{call.public_id}_1_big.png" %></span>
  <span><%= link_to image_tag("call/call_#{call.public_id}_1_sig_freq.png"), "images/call/call_#{call.public_id}_1_big_freq.png" %></span>
  <span>
    <audio controls="controls">
      <source src="audio/call_<%=call.public_id%>.wav" type="audio/wav" />
      Your browser does not support the audio element.
    </audio>
  </span>
</div>